.custom-nav {
  border-bottom: 1px solid $lighter-gray;

  .brand-name {
    color: $main-color;
    font-size: $font-size-6x;
    font-family: 'Pacifico', cursive;

    &:hover {
      color: $main-color;
    }

    &:active {
      color: $darker-gray;
    }
  }

  &__icon {
    margin: 0 10px;
  }

  &__options-list {
    display: flex;

    @media (max-width: 992px) {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  &__search {
    padding: 5px;
    width: 215px;
    border: solid 1px rgba(var(--b6a, 219, 219, 219), 1);
    border-radius: 3px;
    background-color: rgba(var(--b3f, 250, 250, 250), 1);
    color: rgba(var(--f52, 142, 142, 142), 1);

    @media (max-width: 992px) {
      width: 100%;
    }

    &::-webkit-input-placeholder {
      text-align: center;
      font-size: $font-size-2x;
    }

    &:-moz-placeholder {
      text-align: center;
      font-size: $font-size-2x;
    }

    &::-moz-placeholder {
      text-align: center;
      font-size: $font-size-2x;
    }

    &:-ms-input-placeholder {
      text-align: center;
      font-size: $font-size-2x;
    }

    &:focus {
      outline: none;

      &::-webkit-input-placeholder {
        text-align: left;
      }

      &:-moz-placeholder {
        text-align: left;
      }

      &::-moz-placeholder {
        text-align: left;
      }

      &:-ms-input-placeholder {
        text-align: left;
      }
    }
  }
}

.profile-options {
  margin-left: 10px;
  margin-right: 10px;

  &__img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  &__icon {
    margin-right: 0.5rem;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}

.dropdown-menu {
  min-width: 14rem;
  padding: 0.5rem 0 0;
  margin: 0.5rem 0 0;
}

.dropdown-item {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}

.logout {
  display: flex;
  border-top: 1px solid $lighter-gray;
  & > a {
    justify-content: flex-start;
    align-items: center;
  }
}
